* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Lato-Bold";
  src: url(fonts\Lato-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "FrankRuhlLibre-Bold";
  src: url(fonts\FrankRuhlLibre-Bold.ttf) format('truetype');
  font-weight: normal;
}

.navbar {
  background-color: black;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar.black {
  background-color: black;
  transition: 0.8s;
}

.container img {
  margin-left: 100px;
}

.container-fluid {
  background-color: black;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 100px;
}

.container ul li a {
  color: white;
  font-family: "Lato-Bold", sans-serif;
  font-size: small;
  margin-left: 20px;
  text-decoration: none;
}

.container ul {
  margin-left: 30%;
}

.navbar-nav a:hover {
  color: rgb(255, 0, 0);
  transition-duration: 0.5s;
}

.navbar-nav a:active {
  color: rgb(255, 2, 2);
  transition-duration: 0.5s;
}


.icon ion-icon {
  color: white;
  font-size: 21px;
  margin-top: 5px;
  margin-left: 20px;
}

.icon ion-icon:hover {
  color: rgb(255, 2, 2);
  border-color: red;
  background-color: black;
  transition-duration: 0.5s;
}